name: Build & Deploy Strapi to ECS

# on:
#  push:
#     branches: [ "main" ]

env:
  AWS_REGION: eu-north-1
  ECR_REPO: docker-strapi
  TF_DIR: terraform

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      id: ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push Docker image
      id: build
      run: |
        IMAGE_TAG=${GITHUB_SHA::8}
        IMAGE_URI=${{ steps.ecr.outputs.registry }}/${ECR_REPO}:${IMAGE_TAG}

        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI

        echo "TF_VAR_image_uri=$IMAGE_URI" >> $GITHUB_ENV
        
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      working-directory: ${{ env.TF_DIR }}
      run: terraform init

    - name: Terraform Plan
      working-directory: ${{ env.TF_DIR }}
      run: terraform plan -input=false

    - name: Terraform Apply (Update ECS Task)
      working-directory: ${{ env.TF_DIR }}
      run: terraform apply -auto-approve -var="image_uri=${TF_VAR_image_uri}"

